* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

.box-container {
  display: flex;
  height: 100%;
  margin: auto;
}

.table-wrapper {
  width: 80%;
  margin: auto;
  background: #343434;
  border-radius: 1rem;
  padding: 3rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  order: 0;
  background: transparent;
}

.row {
  padding: 0.5rem;
}

.col {
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  background: #666666;
  border-radius: 10%;
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
  border: 2px solid white;
}

.chance {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #fff;
  order: 1;
}

.game-name {
  text-align: center;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

.game-name:hover {
  font-size: 1.05rem;
}

@media (max-width: 768px) {
  .box-container {
    height: auto;
    margin-top: 2rem;
  }
  .col {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
}
